  <tr>
  <td><a href="<%= bytowka_path(bytowka) %>" class="list-group-item"><%= bytowka.parametr %></a></td>
  <td><a href="<%= bytowka_path(bytowka) %>" class="list-group-item"><%= bytowka.kosht %></a></td>
  </tr>

